[defaults]
inventory = ./inventory/homelab.yml
roles_path = ./roles

# Connection
remote_user = root
private_key_file = ~/.ssh/id_ed25519_homelab
host_key_checking = True

# Local
retry_files_enabled = False
vault_password_file = ~/.ansible_vault_pass

# Remote
interpreter_python = /usr/bin/python3

[ssh_connection]
forks = 4
ssh_args = -o StrictHostKeyChecking=accept-new